:root {
    --white: #FFFFFF;
    --black: #000000;
    --green-base: #66CDAA;
    --background: #D1F2EB;
    --black-light: #555555; 
    --heart: #E74C3C;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xl: 28px;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
}
.contenedor {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/*----------Nav */

nav {
    width: 100%;
    height: auto;
}
nav .contenedor-nav {
    height: 90px;
    margin: 10px 10px 0 10px;
    padding: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
nav .contenedor-nav .menu {
    font-size: 24px;
    text-align: center;
    color: var(--black);
}
nav .contenedor-nav .picture {
    width: 50px;
    display: inline-block;
}
nav .contenedor-nav .picture img {
    width: 100%;
    border-radius: 50%;
    display: inline-block;
}
form {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
form .contenedor-busqueda {
    width: 100%;
    height: auto;
    position: relative;
}
form .buscador {
    width: 100%;
    height: 40px;
    border-radius: 16px;
    border: none;
    outline: none;
    padding: 0 45px 0 14px;
    box-sizing: border-box;
    font-size: var(--sm);
}
form .icon-busqueda {
    top: 4px;
    right: 6px;
    width: 32px;
    height: 32px;
    padding: 8px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    font-size: var(--sm);
    box-sizing: border-box;
    color: var(--white);
    background-color: var(--green-base);
}

/*----------Main */

main {
    width: 100%;
    height: auto;
    margin: 30px auto 0 auto;
}
main .title {
    font-size: var(--xl);
}
main .lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}
main .lista li {
    font-size: var(--sm);
    color: var(--black-light);
}
main .contenedor-card {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
}
main .contenedor-card .card {
    width: 48%;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
    box-sizing: border-box;
    margin: 10px 0 10px 0;
    box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.1);
}
main .contenedor-card .card .precio {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
main .contenedor-card .card .precio p {
    font-weight: bold;
    font-size: var(--lg);
}
main .contenedor-card .card .precio p span {
    color: var(--green-base);
}
main .contenedor-card .card .heart {
    color: var(--heart);
    font-size: var(--lg);
}
main .contenedor-card .card img {
    width: 95%;
    height: 130px;
    object-fit: contain;
    object-position: center;
}
main .contenedor-card .card .name {
    text-align: center;
    line-height: var(--lg);
    font-weight: 500;
}